.post-container {
    margin: 0 37%;
    color: white;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1450px) {
    .post-container {
        margin: 0 33%;
    }
}

@media only screen and (max-width: 1052px) {
    .post-container {
        margin: 0 30%;
    }
}

@media only screen and (max-width: 980px) {
    .post-container {
        margin: 0 25%;
    }
}

@media only screen and (max-width: 786px) {
    .post-container {
        margin: 0 20%;
    }
}

@media only screen and (max-width: 640px) {
    .post-container {
        margin: 0 10%;
    }
}

@media only screen and (max-width: 470px) {
    .post-container {
        margin: 0 1%;
    }
}