.new-tweet-container {
  margin: 1% auto;
  /* Center the container horizontally */
  max-width: 26%;
  /* Limit the maximum width of the container */
}

.form-control {
  margin-bottom: 1.5%;
  background-color: black;
  border: 1px solid rgb(42, 40, 40);
}

.form-control::placeholder {
  color: rgb(42, 40, 40);
}

.form-control:focus {
  background-color: black;
  color: white;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1052px) {
  .new-tweet-container {
    margin: 2% 30%;
  }
}

@media only screen and (max-width: 980px) {
  .new-tweet-container {
    margin: 2% 25%;
  }
}

@media only screen and (max-width: 786px) {
  .new-tweet-container {
    margin: 2% 20%;
  }

  /* .btn-add-container {
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      opacity: 0.3;
  }

  .btn-add-container:active {
      opacity: 1;
  } */
}

@media only screen and (max-width: 640px) {
  .new-tweet-container {
    margin: 2% 10%;
  }
}

@media only screen and (max-width: 470px) {
  .new-tweet-container {
    margin: 2% 1%;
  }

  /* .main-tweet-container {
      margin-bottom: 18%;
  } */

}